/*
	Variables global for all the applications
*/

$navbar-inverse-link-color: #5aadbb;
$fa-font-path: "../../node_modules/font-awesome/fonts/";
$flags-file:   "../../node_modules/country-flags-sass/flags.png";
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

$brand-primary:         #2164a5 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$body-background: #fff !default;


//== Typography
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          14px;

/*
	You can override below some variables from the original bootstrap's variable file
*/